/* Reset Universal */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* Váriaveis */
:root{
    --CorTema:#AC0000; /* variável para mudança de tema */
    --CorFundo:#000; /* mudança de fundo */
}

/* estilização */

body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "barra-lateral header header"
    "barra-lateral content-site content-site"
}

.content-site{
    grid-area:content-site;
    background:linear-gradient(var(--CorFundo) 70%, var(--CorTema) 100%);
    background-attachment:local;
}

/* header */
header{
    grid-area:header;
    display:flex;
    justify-content:space-between;
    background:var(--CorFundo);
}

header input{
    background:var(--CorFundo);
}

#volte-escutar{
    display:flex;
    justify-content: center;
}

/* banner */

#banner{
    display:flex;
}

#banner-img{
    width:600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../assets/image/banner/banner_epico.jfif);
}

/* main */
.musica-content{
    text-align:center;   
}

.musica img{
    border-radius:100%;
    max-width:20vh;
    max-height:20vh;
}

.musica-content h1{
    font-size:1em;
}

.musica-content h3{
    font-size:0.8em;
}

/* barra lateral */

.barra-lateral{
    display:grid;
    grid-area:barra-lateral;
    column-width:30px;
    font-size:2px;
}