@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* reset */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto Flex'
}

:root {
    --CorTema: #AC0000;
    --CorFundo: #000000;
}

.site {
    scroll-behavior: smooth;
    display: flex;
    background-image: linear-gradient(var(--CorFundo) 60%, #4c0f0f 70%);
    width: 100%;
    height: 1080px;
    position: fixed;
}

/* Controle da musica */
.barra-duracao {
    width: 100%;
    background: #5b5b5b;
    height: 12px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.progresso-musica {
    height: 100%;
    width: 50%;
    background-image: linear-gradient(90deg, var(--CorTema) 57%, #500202 100%);
    border-radius: 30px;
}

.bolinha-musica {
    aspect-ratio: 1/1;
    height: 130%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* O JavaScript vai alterar a posição horizontal (left) */
    left: calc(50% - 12px);
    pointer-events: none;
}

.controle-musica {
    width: 60%;
    height: 150px;
    background: var(--CorFundo);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    position: fixed;
    left: 20%;
    bottom: 10px;
}

.controle-musica p {
    text-align: right;
}

.controle-musica article {
    display: flex;
    justify-content: space-between;
}

.info-musica {
    text-align: left;
    display: flex;
    gap: 10px;
}

.info-musica h1 {
    margin-top: 10px;
    font-size: 30px;
}

.info-musica h2 {
    margin-top: 1px;
    font-size: 20px;
}

.tocando-agora {
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

/* botões de musica */

.botoes-musica {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: calc(50% - 80px);
}

.btn-voltar {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-voltar img {
    transform: rotate(180deg);
    width: 30px;
    height: auto;
}

.btn-avancar {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-avancar img {
    width: 30px;
    height: auto;
}

.btn-pausar {
    background: transparent;
    border: none;
}

.fundo-pausar {
    display: flex;
    background-image: linear-gradient(#ac0000 0%, #460000 100%);
    position: relative;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.barra-pausar1 {
    width: 15%;
    height: 60%;
    background-image: linear-gradient(177deg, #ffffff 20%, #999999 92%);
    margin-top: 18%;
    margin-left: 10%;
}

.barra-pausar2 {
    width: 15%;
    height: 60%;
    background-image: linear-gradient(177deg, #ffffff 20%, #999999 92%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 18%;
    margin-right: 10%;
}

/* Playlists */

.barra-lateral {
    background-image: linear-gradient(var(--CorFundo) 0%, #4c0f0f 49%);
    width: fit-content;
    padding: 0px 10px 0px 10px;
    display: grid;
    /*permite que as setinhas fiquem na extremidade direita, não me pergunte o porque só aceite*/
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--CorTema) transparent;
}

.playlist-content {
    gap: 20px;
}

.playlist img {
    width: 8em;
    aspect-ratio: 1/1;
    border-radius: 30px;
}

.btn-playlist {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.playlist {
    text-align: center;
    color: #fff;
}

.btn-criarPlaylist {
    padding: 10px 0px 10px;
}

.sub-main {
    width: 100%;
    margin-left: 3.25em;
    background-color: transparent;
    position: fixed;
    left: 8.9vw;
    overflow-x:hidden;
}

.fake-aside {
    width: 23.5vh;
}

.artista-foto {
    box-sizing: border-box;
    width: 200px;
    height: auto;
    display: block;
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translateY(-50%);
    border-radius: 15px;
    outline: 2px solid black;
    z-index: 1;
}

.artista-banner {
    background-image: url(../assets/image/banner/banner_epico.jfif);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-10%) translateX(-11%)
}

.barra-pesquisa {
    border: #fff;
    color: #fff;
    width: 250px;
    height: 25px;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 5px;
    position: relative;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    left: 40%;
    z-index: 1;
}

.artista-nome {
    color: white;
    position: absolute;
    text-align: right;
    top: 75%;
    right: 62%;
    font-size: 35px;
    margin-top: 10px;
}

.artista-subtitulo {
    color: #cdcdcd;
    position: absolute;
    text-align: right;
    top: calc(75% + 50px);
    right: 62%;
    font-family: "dm sans";
    font-size: 17.5px;
    font-weight: normal;
}

.sub-main header {
    /* que buceta do caraio mas funciona */
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

.btn-retangular {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    font-weight: 600;
    font-size: 22px;
    font-family: "dm sans";
    position: absolute;

    background: linear-gradient(#ac0000 0%, #460000 100%);
}

#btn-tocar {
    left: calc(40% + 200px + 15px);
    top: 84%;
}

.barra-pesquisa {
    border: #fff;
    width: 250px;
    height: 25px;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 5px;
    position: relative;
    border-radius: 30px;
    background: transparent;
}

.musicas-artista {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 120px;
    padding-top: 120px;
}

.item-musica-artista{
    display: flex;
    max-height: 100px;
    align-items: center;
    margin-bottom: 3vh;
}

.musica-titulo-album{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.musica-titulo-album h2{
    color: #CDCDCD;
    font-size: 17.5px;
}

.musica-foto {
    height: 12vh;
    width: auto;
    border-radius: 100%;
    padding-right: 15px;
}

.titulo{
    color: white;
    font-family: 'Roboto Flex';
    font-size: 25px;
    padding-right: 3vw;
}

.linha {
    width: 2px;
    height: 50vh;
    background: white;
    margin: 0 10px;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        white 30%,
        white 70%,
        transparent 100%
    );
}

.lista-musicas{
    max-width: 50vw;
}

.em-destaque{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
}

.destaque-artista{
    flex: 1;
    max-width: 34vw;
    padding-bottom: 11.5vh;
}

.destaque-imagem{
    height: 35vh;
    width: auto;
    border-radius: 100%;
    padding-right: 15px;
}

.titulo-secundario{
    color: #CDCDCD;
    padding-right: 3vw;
    font-size: 20px;
    flex: 0 0 12vw;
}

.titulo-grande{
    color: white;
    font-family: 'Roboto Flex';
    font-size: 40px;
    padding-bottom: 2vh;
    padding-top: 5vh;
}

.titulo-destaque{
    color: white;
    font-family: 'Roboto Flex';
    font-size: 35px;
    padding-bottom: 1.5vh;
    padding-left: 0.5vw;
}

#em-destaque{
    padding-left: 1vw;
}

.titulo-secundario-destaque{
    color: #CDCDCD;
    font-size: 25px;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
}

/* content do site */

.sub-main {
    margin-left: 0.5em;
    background: transparent;
    /* só pra confirmar que o fundo da sub-main vai ficar transparente(é trans)*/
    overflow-y: auto;
    color: #fff;
    max-height: 100vh;
    top: 0;
    bottom: 0;
}

/* header do site */

.sub-main header {
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.foto-perfil {
    border-radius: 100%;
    width: 3em;
    height: auto;
    aspect-ratio: 1/1;
}

#volte-escutar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#fora-radar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* banner maneiro */
#banner-bemvindo {
    background-image: url(../assets/image/banner/banner_epico.jfif);
    background-size: cover;
    height: 300px;
    width: 100%;
}

/* Componentes dos icons (os treco do volte a escitar) */

.album-icon {
    text-align: center;
}

.capa-album {
    border-radius: 100%;
    width: 18vh;
}

.icon-nome {
    font-size: 1.2rem;
}

.icon-artista {
    font-size: 1.2rem;
}

.tipo {
    font-size: 1rem;
    color: #999999;
    font-family: 'DM Sans'
}

.artista-icon {
    text-align: center;
}

.capa-artista {
    border-radius: 30%;
    width: 18vh;
}

.capa-musica {
    border-radius: 100%;
    width: 18vh;
}

.musica-icon {
    text-align: center;
}

/* tentativa de gambiarra #leonSola */
.fake-aside {
    width: 180px;
    height: 100vh;
}

/* Textos */
#bem-vindoText {
    margin-bottom: 0.25em;
}

#volte-escutarText {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#btn-aleatorio {
    left: calc(40% + 200px + 15px + 152px);
    top: 84%;
    padding: 5px 20px 5px 20px;
}

.btn-retangular img {
    width: auto;
    height: 1.2em;
}

#btn-aleatorio img {
    height: calc(1.2em + 13px);
}