/* reset */
*{
    padding:0;
    box-sizing:border-box;
    margin:0;
}

.barra-duracao{
    width:80%;
    background:#5b5b5b;
    height:12px;
    border-radius:30px;
    position:relative;
    cursor:pointer;
}

.progresso-musica{
    height:100%;
    width:50%;
    background-image:linear-gradient(90deg, #8b0000 57%, #500202 100%);
    border-radius:30px;
}

.bolinha-musica{
    aspect-ratio:1/1;
    height: 130%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* O JavaScript vai alterar a posição horizontal (left) */
    left: calc(50% - 12px); 
    pointer-events: none;
}

.controle-musica{
    background:#000;
    padding:10px;
    border-radius:10px;
    color:#fff;
}